body {
    font-family: 'Open Sans', Helvetica, Arial;
}

.h1 {
    font-size: 27px;
}

.h2 {
    font-size: 24px;
}

.h3 {
    font-size: 21px;
}

.h4 {
    font-size: 18px;
}

.h5 {
    font-size: 15px;
    font-weight: bold;
}

.p {
    font-size: 15px;
}

.sm, .sp {
    font-size: 13px
}